*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/car.jpg");
    background-color: rgba(0 0 0 .3);
}

.site-header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: lightgrey;
    background-color: rgba(0, 0, 0, .3);
    padding: 70px;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo {
    display: block;
    margin-left: 0;
    text-shadow: 0 0 0.5em whitesmoke;
}

.logo a {
    text-decoration: none;
}

.heart {
    transform: translateZ(0);
    color: red;
    position: relative;
    font-size: 200px;
}

.heart:hover {
    animation: pulse .5s linear;
}

.heart:before {
    content: "♥";
    position: absolute;
    color: darkred;
    opacity: 0;
}

@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
}

.way-header {
    font-size: 50px;
    text-shadow: 0 0 0.2em whitesmoke;
}

.header {
    display: flex;
    height: 200px;
    align-items: center;
    padding-right: 50px;
}

#map {
    height: 500px;
    width: 700px;
}


.map-box {
    /*margin-top: 500px;*/
    display: flex;
    height: 800px;
    align-items: flex-start;
}

.map-section {
    display: flex;
    padding-left: 900px;
    padding-top: 0;
    margin-top: 0;
}


